<section class="my-2">
  <div class="container">
    {{#ct-navbar
      appLabel="Textarea Autosize"
      appName=(read-config "APP.name")
      class="bg-dark navbar-expand-md navbar-dark shadow rounded"
    }}
      <li class="nav-item">
        {{#link-to "demo.index" class="nav-link"}}
          {{fa-icon "tv" size="2x"}}
        {{/link-to}}
      </li>
    {{/ct-navbar}}
  </div>
</section>

<section class="my-3">
  <div class="container">
    {{badge-fury-io appName=(read-config "APP.name")}}
    {{badge-built-with appName=(read-config "APP.name") emberCliVersion="2.18.2"}}
    {{badge-install-command appName=(read-config "APP.name") version=(app-version versionOnly=true)}}
  </div>
</section>

{{outlet}}

<section class="bg-dark mt-5 text-light">
  <div class="container">
    {{ct-footer class="py-5"}}
  </div>
</section>
