<h1><kbd>CTRL</kbd>+<kbd>ENTER</kbd> Submits Form</h1>

<form {{action "submitForm" on="submit"}}>
  <label>CTRL+ENTER Submitting Text Area</label>
  <br />
  <TextareaAutosize @value="{{textarea-autosize}}" @autofocus={{true}} />
  <p>{{submitMessage}}</p>
  <br />

  <label>CTRL+ENTER Does Not Submit Basic Ember.TextArea</label>
  <br />
  <Textarea @value="{{textarea}}" />
  <br />
</form>

<LinkTo @route="index">Return To Demo List And Then Come Back Here To See `autofocus` Work</LinkTo>